{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<div class="main-content p-5">
    {# <div class="alert alert-danger">
        <h3>Les renseignements de contacts contiennent les erreurs suivantes :</h3>
        <ul>
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>

        {% for msg in app.flashes('confirmation') %}
            <div class="alert alert-success">
                {{ msg }}
            </div>
        {% endfor %}
    </div> #}

    {{ form_start(contact_form, {'attr': {'novalidate': 'novalidate'}}) }}

    <div class="mb-3">
        {{ form_row(contact_form.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre prénom'}}) }}
    </div>

    <div class="mb-3">
        {{ form_row(contact_form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre nom'}}) }}
    </div>

    <div class="mb-3">
        {{ form_row(contact_form.email, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre email'}}) }}
    </div>

    <div class="mb-3">
        {{ form_row(contact_form.message, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre message'}}) }}
    </div>

    <div class="mb-3">
        {{ form_row(contact_form.reason, {'attr': {'class': 'form-select'}}) }}
    </div>

    <div class="mb-3">
        {{ form_row(contact_form.telephone, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre numéro de téléphone'}}) }}
    </div>
    
    {{ form_end(contact_form, {'attr': {'class': 'button btn-dark'}}) }}
    

    
</div>
{% endblock %}
